body {
    background: url("../images/vintage-1080088_1920.jpg") fixed;
    background-size: cover;
}

#fh5co-header h2.myname {
    font-size: 49px;
    margin: 50px auto;
    text-align: center;
}

.fh5co-intro-text {
    text-shadow: 0 0 20px black, 0 0 20px black, 0 0 20px black;
}

#fh5co-header .fh5co-text-wrap {
    height: auto;
    padding-top: 100px;
}

.falecom {
    text-align: center;
    padding-top: 50px;
}

#fh5co-footer {
    ul {
        color: white;
        list-style: none;
    }
}